<nav class="breadcrumb-nav" *ngIf="items.length > 0" aria-label="Ruta de navegación">
  <ol class="breadcrumb-list">
    <li class="breadcrumb-item" *ngFor="let item of items; let last = last">
      <ng-container *ngIf="!last && item.route">
        <a [routerLink]="item.route" class="breadcrumb-link">{{ item.label }}</a>
        <i class="fa-solid fa-chevron-right breadcrumb-separator" aria-hidden="true"></i>
      </ng-container>

      <ng-container *ngIf="last">
        <span class="breadcrumb-current" aria-current="page">{{ item.label }}</span>
      </ng-container>

      <ng-container *ngIf="!last && !item.route">
        <span class="breadcrumb-link">{{ item.label }}</span>
        <i class="fa-solid fa-chevron-right breadcrumb-separator" aria-hidden="true"></i>
      </ng-container>
    </li>
  </ol>
</nav>
